body{
    font-family: Lato;
}

input[type=checkbox],
input[type=radio]{
    margin-left: 15px;
}
.form-group label:nth-child(3) input[type=radio],
.form-group label:nth-child(3) input[type=checkbox]{
    margin-left: 0px;
}