body{
    background-color: #F5F0DC;
    font-family: Arial, Helvetica, sans-serif;
}
#pagina{
    max-width: 920px;
    margin: 0 auto;
    padding: 20px 30px;
    
}
h1#mousse{
    text-align: center;
}
figure img{
    width: 100%;
    
    height: auto;
    padding: 5px;
}
figure{
    background-color:white; 
    width:100%; 
    text-align:center; 
    padding:15px; 
    font-family:'Comic Sans MS',cursive; 
    border: 1px solid #c0c0c0; 
}
h2{
    background: #B3A742;
    padding: 5px;
    color: #fff;
}
#tb-nutrientes{ 
    border: 1px solid black; 
    width: 40%; 
    margin: auto; 
} 
#tb-nutrientes th{ 
    background-color: #F8EA6B; 
} 
#tb-nutrientes tr:nth-child(odd){ 
    background-color: #FFFFFF; 
} 
#tb-nutrientes tr:nth-child(even){ 
    background-color: #F8EAB3; 
} 

nav ul li{ 
    display: inline; 
    margin-right: 50px; 
}
h2{
    background:linear-gradient(top, #9C8F67, #C7BE9B); 
    padding: 5px 15px;
    color: #fff;
    background: -webkit-linear-gradient(top, #9C8F67, #C7BE9B  30px);
    border-radius: 15px;
    border: 1px solid black;
} 
nav{
    background: #B3A742;
    float: left;
    width: 260px;
    position: fixed;
    margin-top: 20px;
    padding-top: 5px;
}
nav ul{
    padding-left: 5px !important;
    margin: 0px;
    list-style: none;
}
nav ul li{
    margin: 0px;
    display: block;
    background: #C7BE9B;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 240px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: #9C8F67;
}